{
  "ignore": ["node_modules/**"],
  "presets": [
    "@babel/env",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    "add-react-displayname",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "sourceType": "unambiguous",
  "env": {
    "production": {
      "comments": false
    }
  }
}
