{
  "ignore": ["node_modules/**"],
  "presets": [
    "@babel/env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "add-react-displayname",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "sourceType": "unambiguous",
  "env": {
    "production": {
      "comments": false
    }
  },
  "assumptions": {
    "iterableIsArray": false
  }
}
